<div class='row'>
	 <h1 class='text-center'>Dashboard</h1>

	 <div class='col-md-4'>
	 	<h3 class='text-center'>
	 	My Events <%= link_to 'New Event', new_book_path, class:'btn btn-primary btn-sm'%>
	 	</h3>
	 		<%= render 'events' %>
	 </div>

	 <div class='col-md-4'>
	 	<h3 class='text-center'>
	 	Events Attending
	 	</h3>
	 		<%= render 'attending' %>
	 </div>

	 <div class='col-md-4'>
	 	<h3 class='text-center'>
	 	My Event Traffic
	 	</h3>
	 		<%= render 'traffic' %>
	 </div>
</div>