  <div class='col-md-3'>
    <div class='thumbnail'>
      <%= link_to book_path(book) do %>
      <%= image_tag book.image.url(:original), class:'img-responsive' %>
      <% end %>
      <div class='caption'>
        <h4><strong><%= link_to book.name, book_path(book) %></strong></h4>
        <p>Location: <%= book.author %></p>
        <p>Comments: </p>
      </div>
    </div>

  </div>